.term-of-service {
  background-color: #F0F0F0;
  width: 500px;
  height: 100px;
  border: 1px solid black;
}

input.error{
  outline-color: red;
}

div.loginForm{
  width: 400px;
  height: 100px;
  background-color: #FAFAFA;
}